{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier", "unused-imports"],
  "rules": {
    "quotes": [2, "double", "avoid-escape"],
    "object-curly-spacing": ["error", "always"],
    "unused-imports/no-unused-imports": "error",
    "sort-imports": ["error", {
      "ignoreCase": true,
      "ignoreDeclarationSort": true
    }],
    "prettier/prettier": ["error"]
  }
}
