{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "quotes": [2, "double", "avoid-escape"],
    "object-curly-spacing": ["error", "always"],
    "prettier/prettier": ["error"]
  }
}
