/* These SCSS variables are available in all vue components */

$code-background: rgba(200, 200, 200, 0.25);

$code-border: 1px solid rgba(0, 0, 0, 0.1);

$hero-text-color: #333;

$label-color: #222;

$label-disabled-color: #999;

$badge-border: 1px solid #ccc;
$badge-background-color: #75d6fd;
$badge-text-color: #333;

$form-floating-label-background-color:#dee2e6;

$autocomplete-panel-background-color: #dee2e6;
$autocomplete-panel-border-color: #333;

$autocomplete-item-color: #333;
$autocomplete-item-color-hover: #FFF;
$autocomplete-item-background-color-hover: #abacad;