## The URL where the blog is hosted, used for CORS
CLIENT_BASE_URL=https://blog.fumix.de

## Put your preferred credentials for the PostgreSQL database here
DATABASE_USER=fublog
DATABASE_PASSWORD=
DATABASE_NAME=fublog

## Google OAuth
# OAUTH_GOOGLE_CLIENT_ID=
# OAUTH_GOOGLE_CLIENT_SECRET=

## Gitlab OAuth (use this preferably for gitlab.com, see below for self-hosted)
# OAUTH_GITLAB_CLIENT_ID=
# OAUTH_GITLAB_CLIENT_SECRET=

## Gitlab OAuth with custom domain(s), any (positive) numbers can be used
# OAUTH_GITLAB_1_CLIENT_ID=
# OAUTH_GITLAB_1_CLIENT_SECRET=
# OAUTH_GITLAB_1_ISSUER=
# OAUTH_GITLAB_2_CLIENT_ID=
# OAUTH_GITLAB_2_CLIENT_SECRET=
# OAUTH_GITLAB_2_ISSUER=
# …

###
### As soon as the first user is registered in the blog, you can
### delete everything in this file after this line.
###

## The email address of the first blog user (will get admin permissions)
OAUTH_ADMIN_EMAIL=
## The domain of the OAuth provider of the first blog user (for Google `accounts.google.com`, for Gitlab `gitlab.com` or the custom domain)
OAUTH_ADMIN_ISSUER=
## either `GITLAB` or `GOOGLE`
OAUTH_ADMIN_TYPE=
